body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-baloo-paaji-2: "Baloo Paaji 2";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-lg: 18px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-24xl: 43px;
  --font-size-15xl: 34px;
  --font-size-53xl: 72px;
  --font-size-39xl: 58px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-xs: 12px;
  --font-size-21xl: 40px;
  --font-size-sm: 14px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-smi: 13px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-5xs: 8px;
  --font-size-7xs: 6px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-whitesmoke-100: #f8f9f9;
  --color-whitesmoke-200: #f8f8f8;
  --color-whitesmoke-300: #f3f3f3;
  --color-whitesmoke-400: #f2f2f2;
  --background-color: #f1f1f1;
  --color-whitesmoke-500: #eee;
  --color-whitesmoke-600: #ededed;
  --color-lavender-100: #ece9ff;
  --color-lavender-200: #e7e4f7;
  --color-lavender-300: #e6e4f1;
  --color-lavender-400: #e0deec;
  --color-darkblue-100: #422dbb;
  --color-darkblue-200: #412dbb;
  --color-mediumslateblue-100: #8976ff;
  --color-mediumslateblue-200: #8775f0;
  --color-mediumslateblue-300: #8270e8;
  --color-mediumslateblue-400: #806eed;
  --color-mediumslateblue-500: #725dee;
  --color-mediumslateblue-600: #705ce6;
  --color-mediumslateblue-700: #6954e0;
  --color-mediumslateblue-800: #1d4cf1;
  --color-mediumslateblue-900: rgba(130, 112, 232, 0.09);
  --color-mediumslateblue-1000: rgba(135, 117, 240, 0.09);
  --color-mediumslateblue-1100: rgba(128, 110, 237, 0.09);
  --color-mediumslateblue-1200: rgba(105, 84, 224, 0.09);
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro-100: #e8e8e8;
  --color-gainsboro-200: #e6e6e6;
  --color-gainsboro-300: #e2e1e9;
  --color-gainsboro-400: #dbdbdb;
  --color-gainsboro-500: #dadada;
  --color-gainsboro-600: #d9d9d9;
  --color-gainsboro-700: rgba(230, 230, 230, 0.09);
  --color-ghostwhite-100: #f5f4ff;
  --color-ghostwhite-200: #f5f3fe;
  --color-ghostwhite-300: #f3f1ff;
  --color-ghostwhite-400: #f2f1fb;
  --color-ghostwhite-500: #eeecf5;
  --color-slateblue-100: #6857cf;
  --color-slateblue-200: #604ec9;
  --color-slateblue-300: #5a48c8;
  --color-lightgray-100: #d9d6e0;
  --color-lightgray-200: #d2d2d2;
  --color-lightgray-300: #d1d1d1;
  --color-lightgray-400: #cfccdc;
  --color-lightgray-500: #cecece;
  --color-midnightblue-100: #2a1d7b;
  --color-midnightblue-200: #160b5b;
  --color-royalblue: #4273ff;
  --color-indianred-100: #dc5a5a;
  --color-indianred-200: #d15e5e;
  --color-indianred-300: #b84444;
  --color-cornflowerblue: #8d83cd;
  --color-chocolate: #d86c00;
  --color-gray-100: #fdfdfd;
  --color-gray-200: #fbfbfb;
  --color-gray-300: #828282;
  --lightvrk: #7d7d7d;
  --color-gray-400: #797979;
  --color-gray-500: #232323;
  --color-gray-600: #051e2d;
  --color-gray-700: rgba(0, 0, 0, 0.65);
  --color-gray-800: rgba(0, 0, 0, 0.67);
  --color-gray-900: rgba(0, 0, 0, 0.47);
  --color-gray-1000: rgba(0, 0, 0, 0.54);
  --color-darkslategray-100: #4b4b4b;
  --color-darkslategray-200: #464646;
  --color-darkslategray-300: #434343;
  --color-darkslategray-400: #414141;
  --color-darkslategray-500: #3e3e3e;
  --gray-1: #333;
  --color-darkgray-100: #b1b1b1;
  --color-darkgray-200: #b0b0b0;
  --color-darkgray-300: rgba(163, 163, 163, 0.75);
  --color-maroon: #670606;
  --color-dimgray-100: #727272;
  --color-dimgray-200: #6f6f6f;
  --color-dimgray-300: #6b6b6b;
  --color-dimgray-400: #666;
  --color-dimgray-500: #5f5f62;
  --color-dimgray-600: #5e5e5e;
  --color-dimgray-700: #5a5a5a;
  --color-dimgray-800: #585858;
  --color-dimgray-900: #565656;
  --color-dimgray-1000: #565558;
  --color-dimgray-1100: #555;
  --color-dimgray-1200: #4f4f4f;
  --color-lightgoldenrodyellow-100: #d2edc8;
  --color-lightgoldenrodyellow-200: #cbf5bd;
  --color-green-100: #369814;
  --color-green-200: #178a0d;
  --color-mediumpurple-100: #ab9dff;
  --color-mediumpurple-200: #7b6ecc;
  --color-mediumblue-100: #2810bb;
  --color-mediumblue-200: rgba(40, 16, 187, 0.7);
  --color-orange: #fea218;
  --color-antiquewhite: #f0dcca;
  --color-limegreen: #00b532;
  --color-oldlace: #fef9e6;
  --color-silver-100: #bec8c1;
  --color-thistle: #cdcade;
  --color-lightpink: #ffa2a2;
  --color-lawngreen: #45e80b;
  --color-navy: #1b088b;
  --color-coral: #fd753a;
  --color-darkred: #9b1111;
  --color-darkslateblue: rgba(86, 100, 170, 0.51);

  /* Gaps */
  --gap-2xs: 11px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-xl: 20px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-10xl: 29px;
  --gap-4xl: 23px;
  --gap-3xl-5: 22.5px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-10xs: 3px;
  --gap-110xl: 129px;
  --gap-45xl: 64px;
  --gap-9xl: 28px;
  --gap-37xl: 56px;
  --gap-xs: 12px;
  --gap-mini-3: 14.3px;
  --gap-base: 16px;
  --gap-mini: 15px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-14xl: 33px;
  --gap-13xl: 32px;
  --gap-34xl-5: 53.5px;
  --gap-2xl: 21px;
  --gap-3xs: 10px;
  --gap-35xl-5: 54.5px;
  --gap-12xl: 31px;
  --gap-7xl-8: 26.8px;
  --gap-5xs: 8px;
  --gap-4xs: 9px;
  --gap-mid-5: 17.5px;
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-5xl: 24px;
  --gap-34xl: 53px;
  --gap-3xl: 22px;
  --gap-46xl: 65px;
  --gap-29xl: 48px;
  --gap-sm: 14px;
  --gap-124xl: 143px;
  --gap-52xl: 71px;
  --gap-50xl: 69px;
  --gap-24xl: 43px;
  --gap-22xl: 41px;
  --gap-64xl: 83px;
  --gap-18xl: 37px;
  --gap-lgi: 19px;
  --gap-20xl: 39px;
  --gap-26xl: 45px;
  --gap-19xl: 38px;
  --gap-56xl: 75px;
  --gap-21xl: 40px;
  --gap-6xs: 7px;
  --gap-smi: 13px;
  --gap-27xl: 46px;
  --gap-58xl: 77px;
  --gap-103xl: 122px;
  --gap-11xl: 30px;
  --gap-42xl: 61px;
  --gap-30xl: 49px;
  --gap-36xl: 55px;
  --gap-35xl-7: 54.7px;
  --gap-44xl: 63px;
  --gap-49xl: 68px;
  --gap-83xl: 102px;
  --gap-7xs: 6px;
  --gap-14xl-5: 33.5px;
  --gap-8xs: 5px;
  --gap-9xl-4: 28.4px;
  --gap-31xl: 50px;
  --gap-28xl: 47px;
  --gap-25xl: 44px;
  --gap-13xl-5: 32.5px;
  --gap-40xl: 59px;
  --gap-51xl: 70px;
  --gap-12xs: 1px;
  --gap-10xs-5: 2.5px;
  --gap-base-1: 16.1px;
  --gap-246xl: 265px;
  --gap-113xl: 132px;
  --gap-47xl: 66px;
  --gap-136xl: 155px;
  --gap-11xs-5: 1.5px;
  --gap-base-5: 16.5px;
  --gap-23xl: 42px;
  --gap-39xl: 58px;
  --gap-3xs-5: 9.5px;
  --gap-41xl: 60px;
  --gap-9xs: 4px;
  --gap-97xl: 116px;
  --gap-smi-5: 12.5px;
  --gap-2xs-3: 10.3px;
  --gap-base-9: 15.9px;
  --gap-10xl-5: 29.5px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-mid: 17px;
  --padding-12xl: 31px;
  --padding-33xl: 52px;
  --padding-15xl: 34px;
  --padding-12xs: 1px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-18xl: 37px;
  --padding-21xl: 40px;
  --padding-14xl: 33px;
  --padding-6xs: 7px;
  --padding-13xl: 32px;
  --padding-4xl: 23px;
  --padding-9xl: 28px;
  --padding-7xs: 6px;
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-87xl: 106px;
  --padding-43xl: 62px;
  --padding-5xl: 24px;
  --padding-23xl: 42px;
  --padding-647xl: 666px;
  --padding-262xl: 281px;
  --padding-8xl: 27px;
  --padding-414xl: 433px;
  --padding-17xl: 36px;
  --padding-10xs: 3px;
  --padding-3xl: 22px;
  --padding-6xl: 25px;
  --padding-22xl: 41px;
  --padding-8xs: 5px;
  --padding-32xl: 51px;
  --padding-61xl: 80px;
  --padding-26xl: 45px;
  --padding-89xl: 108px;
  --padding-10xl: 29px;
  --padding-51xl: 70px;
  --padding-25xl: 44px;
  --padding-58xl: 77px;
  --padding-103xl: 122px;
  --padding-19xl: 38px;
  --padding-29xl: 48px;
  --padding-49xl: 68px;
  --padding-56xl: 75px;
  --padding-59xl: 78px;
  --padding-2xl: 21px;
  --padding-93xl: 112px;
  --padding-96xl: 115px;
  --padding-41xl: 60px;
  --padding-54xl: 73px;
  --padding-11xl: 30px;
  --padding-20xl: 39px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-mini: 15px;
  --padding-11xs: 2px;
  --padding-5xs: 8px;
  --padding-7xl: 26px;
  --padding-78xl: 97px;
  --padding-46xl: 65px;
  --padding-lgi: 19px;
  --padding-39xl: 58px;
  --padding-sm: 14px;
  --padding-63xl: 82px;
  --padding-55xl: 74px;
  --padding-35xl: 54px;
  --padding-45xl: 64px;
  --padding-64xl: 83px;
  --padding-36xl: 55px;
  --padding-31xl: 50px;
  --padding-28xl: 47px;
  --padding-37xl: 56px;
  --padding-lg: 18px;
  --padding-mini-5: 14.5px;
  --padding-34xl: 53px;
  --padding-97xl: 116px;
  --padding-66xl: 85px;
  --padding-44xl: 63px;
  --padding-16xl: 35px;
  --padding-70xl: 89px;
  --padding-48xl: 67px;
  --padding-9xs: 4px;
  --padding-2xl-5: 21.5px;
  --padding-50xl: 69px;
  --padding-731xl: 750px;
  --padding-27xl: 46px;
  --padding-60xl: 79px;
  --padding-30xl: 49px;
  --padding-mini-1: 14.1px;
  --padding-9xl-1: 28.1px;
  --padding-52xl: 71px;
  --padding-47xl: 66px;
  --padding-38xl: 57px;
  --padding-40xl: 59px;
  --padding-22xl-4: 41.4px;
  --padding-23xl-1: 42.1px;
  --padding-128xl: 147px;
  --padding-24xl: 43px;
  --padding-57xl: 76px;
  --padding-base-1: 16.1px;
  --padding-15xl-5: 34.5px;
  --padding-135xl: 154px;
  --padding-109xl: 128px;
  --padding-92xl: 111px;
  --padding-mid-5: 17.5px;
  --padding-237xl: 256px;
  --padding-95xl: 114px;
  --padding-2xl-3: 21.3px;
  --padding-lgi-7: 19.7px;
  --padding-62xl: 81px;
  --padding-42xl: 61px;
  --padding-sm-1: 13.1px;
  --padding-86xl: 105px;
  --padding-68xl: 87px;
  --padding-65xl: 84px;
  --padding-4xs-5: 8.5px;
  --padding-2xs-7: 10.7px;
  --padding-mini-9: 14.9px;
  --padding-mid-1: 17.1px;
  --padding-8xs-3: 4.3px;
  --padding-smi-8: 12.8px;
  --padding-8xs-4: 4.4px;
  --padding-4xs-6: 8.6px;
  --padding-98xl: 117px;
  --padding-111xl: 130px;
  --padding-52xl-9: 71.9px;
  --padding-18xl-6: 37.6px;
  --padding-31xl-7: 50.7px;
  --padding-33xl-9: 52.9px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-mini: 15px;
  --br-xs: 12px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-base: 16px;
  --br-3xs: 10px;
  --br-2xl: 21px;
  --br-2xs: 11px;
  --br-6xs: 7px;
  --br-4xs: 9px;
  --br-smi: 13px;
  --br-xl: 20px;
  --br-11xs: 2px;
  --br-sm: 14px;
}
