/* notificions-header-styles */
.notification {
    padding-top: 1.2rem;
}
.bottom_nav_notifications {
    padding-top: 2rem;
    position: relative;
}
.line_full {
    position: absolute;
    height: 2px;
    background: #f4f4f4;
    width: calc(100% + 3rem);
    transform: translateX(-2rem);
}

/* notifications */
div.notification {
    display: flex;
    gap: 1rem;
    font-size: 97%;
    width: 100%;
    padding: 8px;
    border-radius: 5px;

    &:hover {
        background: #f9fbfc;
    }
}
.avatar_sender_container {
    position: relative;
}
.notification_content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 1px;
    width: 100%;
}
.notification_content > p {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 2px !important;
}
.notification_content .not_text {
    padding: 0.4rem !important;
    border: 1px solid #e7e4e4;
    border-radius: 5px;
    width: 85%;
}

.not_text > a {
    text-decoration: none;
}

/* LEADERBOARD-STYLES-STARTS-HERE */
.container_leaderboard {
    position: relative;
    padding: 3rem;
    border-radius: 0.6rem;
    background: white;
}
.leaderboard_switcher {
    margin-top: 2rem;
    width: 100%;
}
.switcher_toggle {
    font-size: 1.25rem;
    flex: 6;
    text-align: center;
    position: relative;
    cursor: pointer;
}
/* current-hifhlighted */
.current::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: calc(100%);
    background: #d36f35;
    height: 2px;
    text-align: center;
    left: 0px;
    border-radius: 5px;
    animation: FadeIn 500ms ease-in-out;
}

@keyframes FadeIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.leaderboard_section_lists {
    margin-top: 3rem;
    width: 100%;
    /* display: none; */
}
.leaderboard_users {
    padding-block: 1rem;
    margin-top: 5px;
    border-bottom: 2px solid rgba(206, 206, 206, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.points_user {
    color: rgb(16, 16, 229);
}
.user-name_leaderboard {
    font-weight: 500;
}
.loader_spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background: red; */
}
.spinner_size {
    color: #d36f35 !important;
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
    .container_leaderboard {
        padding: 1.4rem;
    }
}
/* LEADERBOARD-STYLE-END-HERE */
