/* notificions-header-styles */
.notification {
    padding-top: 1.2rem;
}
.bottom_nav_notifications {
    padding-top: 2rem;
    position: relative;
}
.line_full {
    position: absolute;
    height: 2px;
    background: #f4f4f4;
    width: calc(100% + 3rem);
    transform: translateX(-2rem);
}

/* notifications */
div.notification {
    display: flex;
    gap: 1rem;
    font-size: 97%;
    width: 100%;
    padding: 8px;
    border-radius: 5px;

    &:hover {
        background: #f9fbfc;
    }
}
.avatar_sender_container {
    position: relative;
}
.notification_content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 1px;
    width: 100%;
}
.notification_content > p {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 2px !important;
}
.notification_content .not_text {
    padding: 0.4rem !important;
    border: 1px solid #e7e4e4;
    border-radius: 5px;
    width: 85%;
}

.not_text > a {
    text-decoration: none;
}
